<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.wudskq.mapper.TSysResMapper">

    <!--菜单资源信息模型字段映射-->
    <resultMap id="resInfo" type="cn.com.wudskq.model.TSysRes">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="order_number" property="orderNumber" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="res_url" property="resUrl" jdbcType="VARCHAR"/>
        <result column="permission" property="permission" jdbcType="VARCHAR"/>
        <result column="res_type" property="resType" jdbcType="TINYINT"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 查询菜单资源信息列表 -->
    <select id="getResLIst" resultMap="resInfo">
        select id, order_number ,name, res_url, permission, res_type, icon, pid, status, create_by, create_time, update_by, update_time from sys_res
        <where>
            <!--排除已删除状态-->
            status != 1
            <!--默认排除非顶级节点菜单 -->
            <if test="query.pid == null">
                and pid = 0
            </if>
            <if test="query.resName != null and query.resName != ''">
                and name like concat('%',#{query.resName},'%')
            </if>
            <if test="query.permission !=null and query.permission !=''">
                and permission like concat('%',#{query.permission},'%')
            </if>
            <if test="query.resType !=null">
                and res_type = #{query.resType}
            </if>
            <if test="query.status !=null">
                and status = #{query.status}
            </if>
            <if test="query.pid !=null">
                and pid = #{query.pid}
            </if>
        </where>
        order by order_number
    </select>

    <!-- 获取菜单资源详细信息 -->
    <select id="getResDetail" resultMap="resInfo">
        select id, order_number, name, res_url, permission, res_type, icon, pid, status, create_by, create_time, update_by, update_time from sys_res
        where id = #{id}
    </select>

    <!-- 删除菜单资源信息(逻辑删除) -->
    <update id="removeRes">
        update sys_res set status = 1
        <where>
            id in
            <if test="ids != null and ids.size() != 0">
                <foreach collection="ids" open="(" separator="," close=")" item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </update>

    <!-- 根据角色ID查询资源ID -->
    <select id="selectRoleResByRoleIds" resultType="java.lang.String">
        select res_id from sys_role_res
        <where>
            <if test="roleList !=null and roleList.size() != 0">
                 role_id in
                <foreach collection="roleList" open="(" separator="," close=")" item="item">
                      #{item.id}
                </foreach>
            </if>
        </where>
    </select>
</mapper>