<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.wudskq.mapper.TSysUserMapper">

    <!--用户信息模型字段映射-->
    <resultMap id="userInfo" type="cn.com.wudskq.model.TSysUser">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="pass_word" property="passWord" jdbcType="VARCHAR"/>
        <result column="cell_phone" property="cellPhone" jdbcType="VARCHAR"/>
        <result column="mail" property="mail" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="account_type" property="accountType" jdbcType="TINYINT"/>
        <result column="sex" property="sex" jdbcType="TINYINT"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="sign" property="sign" jdbcType="VARCHAR"/>
        <result column="picture_id" property="pictureId" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <!-- 根据用户ID获取系统租户代码 -->
    <select id="getTenantCodeByUserId" resultType="java.lang.String">
        select tenant_code from sys_user
        where  status != 1 and find_in_set(#{id},ancestor_id)  or id = #{id}
    </select>

    <!-- 查询用户信息列表 -->
    <select id="getUserInfoList" resultMap="userInfo">
        select id, user_name, nick_name, pass_word, cell_phone,
               mail, birthday, status, account_type,
               sex, address, sign, picture_id,create_time,create_by,update_time,update_by from sys_user
        <where>
            <!--排除已删除状态-->
            status != 1
            <if test="query.nickName != null and query.nickName != ''">
                and nick_name like concat('%',#{query.nickName},'%')
            </if>
            <if test="query.userName != null and query.userName != ''">
                and user_name like concat('%',#{query.userName},'%')
            </if>
            <if test="query.sex !=null">
                and sex = #{query.sex}
            </if>
            <if test="query.status != null">
                and status = #{query.status}
            </if>
        </where>
    </select>

    <!-- 获取用户详细信息 -->
    <select id="getUserDetail" resultMap="userInfo">
        select id, user_name, nick_name, pass_word, cell_phone,
               mail, birthday, status, account_type,
               sex, address, sign, picture_id,create_time,create_by,update_time,update_by from sys_user
        where id = #{id}
    </select>

    <!-- 删除用户信息(逻辑删除) -->
    <update id="removeUser">
        update sys_user set status = 1
        <where>
            id in
            <if test="ids != null and ids.size() != 0">
                <foreach collection="ids" open="(" separator="," close=")" item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </update>
</mapper>