<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.wudskq.mapper.TSysRoleResMapper">

    <!-- 根据角色ID查询资源ID -->
    <select id="selectRoleResByRoleIds" resultType="java.lang.String">
        select res_id from sys_role_res
        <where>
            <if test="roleList !=null and roleList.size() != 0">
                 role_id in
                <foreach collection="roleList" open="(" separator="," close=")" item="item">
                      #{item.id}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 根据用户ID获取菜单资源ID -->
    <select id="getResIdByUserId" resultType="java.lang.Long">
        select id from sys_res where id in ( select res_id from sys_role_res where role_id in
        (select role_id from sys_user_role where user_id = #{userId}))
        order by sys_res.order_number
    </select>
</mapper>